# Project Apps

The goal of this project is to find the most profitable within free to  download and install apps. The number of users of our apps determines our revenue for any given app — the more users who see and engage with the ads, the better. All data comes from The Google Play Store: 
(https://www.kaggle.com/lava18/google-play-store-apps) 
and The App Store:
(https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps)

Importing databases

In [158]:
!wget https://dq-content.s3.amazonaws.com/350/googleplaystore.csv -O google_wget.csv
!wget https://dq-content.s3.amazonaws.com/350/AppleStore.csv -O apple_wget.csv

--2023-04-14 15:56:56--  https://dq-content.s3.amazonaws.com/350/googleplaystore.csv
Resolving dq-content.s3.amazonaws.com (dq-content.s3.amazonaws.com)... 54.231.225.41, 52.217.85.36, 52.217.39.172, ...
Connecting to dq-content.s3.amazonaws.com (dq-content.s3.amazonaws.com)|54.231.225.41|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1349314 (1.3M) [text/csv]
Saving to: ‘google_wget.csv’

google_wget.csv     100%[===================>]   1.29M  --.-KB/s    in 0.02s

2023-04-14 15:56:56 (67.0 MB/s) - ‘google_wget.csv’ saved [1349314/1349314]

--2023-04-14 15:56:56--  https://dq-content.s3.amazonaws.com/350/AppleStore.csv
Resolving dq-content.s3.amazonaws.com (dq-content.s3.amazonaws.com)... 54.231.225.41, 52.217.85.36, 52.217.39.172, ...
Connecting to dq-content.s3.amazonaws.com (dq-content.s3.amazonaws.com)|54.231.225.41|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 725761 (709K) [text/csv]
Saving to: ‘apple_wget.csv’

apple_wget.csv      100%[===================>] 708.75K  --.-KB/s    in 0.02s

2023-04-14 15:56:56 (43.6 MB/s) - ‘apple_wget.csv’ saved [725761/725761]

Loading data

In [159]:
from csv import reader
android = list(reader(open('google_wget.csv')))
android_header = android[0]
android = android[1:]
ios = list(reader(open('apple_wget.csv')))
ios_header = ios[0]
ios = ios[1:]

Creating function (explore_data) that prints specific rows in our data 
(that we want to explore) and total number of rows and columns

In [160]:
def explore_data(dataset, start, end, rows_and_columns=False):
  dataset_slice = dataset[start:end]
  for row in dataset_slice:
    print(row)
    print('\n') # adds a new (empty) line after each row

  if rows_and_columns:
    print('Number  of rows:', len(dataset))
    print('Number of columns:', len(dataset[0]))

Printing first 5 rows in ours dataset

In [161]:
explore_data(ios, 0, 5, True)

['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']


['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']


['529479190', 'Clash of Clans', '116476928', 'USD', '0.0', '2130805', '579', '4.5', '4.5', '9.24.12', '9+', 'Games', '38', '5', '18', '1']


['420009108', 'Temple Run', '65921024', 'USD', '0.0', '1724546', '3842', '4.5', '4.0', '1.6.2', '9+', 'Games', '40', '5', '1', '1']


['284035177', 'Pandora - Music & Radio', '130242560', 'USD', '0.0', '1126879', '3594', '4.0', '4.5', '8.4.1', '12+', 'Music', '37', '4', '1', '1']


Number  of rows: 7197
Number of columns: 16

 The same function but in package 'Pandas'. Data is much clearer to explore.

In [162]:
def explore_data_pandas(aaa, start, end):
  print(f'Number of rows: {len(aaa)}')
  print(f'Number of columns: {len(aaa[0])}')
  import pandas
  df = pandas.DataFrame(aaa[start:end])
  display(df)

In [163]:
explore_data_pandas(ios, 0, 5)

Number of rows: 7197
Number of columns: 16

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

In [164]:
explore_data_pandas(android,0,5)

Number of rows: 10841
Number of columns: 13

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Finding incorrect rows (missing value in 'Category' column

In [165]:
print(android[10472])

['Life Made WI-Fi Touchscreen Photo Frame', '1.9', '19', '3.0M', '1,000+', 'Free', '0', 'Everyone', '', 'February 11, 2018', '1.0.19', '4.0 and up']

Deleting this specific row

In [166]:
for i, row in enumerate(android):
    if row[0] == 'Life Made WI-Fi Touchscreen Photo Frame':
        del android[i]
        break

In [167]:
print(android[10472])

['osmino Wi-Fi: free WiFi', 'TOOLS', '4.2', '134203', '4.1M', '10,000,000+', 'Free', '0', 'Everyone', 'Tools', 'August 7, 2018', '6.06.14', '4.4 and up']

Creating a function that shows us how many unique apps we have

In [168]:
def unique_apps(data):
  unique_apps=[]
  duplicate_app = []

  if data == android:
    for row in data:
      app_id = row[0]

      if app_id not in unique_apps:
        unique_apps.append(app_id)
      else:
        duplicate_app.append(app_id)

  elif data == ios:
    for row in data:
      app_id = row[1]

      if app_id  not in unique_apps:
        unique_apps.append(app_id)
      else:
        duplicate_app.append(app_id)

  print('Number of unqie apps: ' + ' ' + str(len(unique_apps)))
  print('Number of duplicate apps' + ' ' + str(len(duplicate_app)))

In [169]:
unique_apps(android)

Number of unqie apps:  9659
Number of duplicate apps 1181

In [170]:
unique_apps(ios)

Number of unqie apps:  7195
Number of duplicate apps 2

Creating a function which stores dictionaries with the highest numbers of reviews for each app

In [171]:
def reviews(data):
  def convert_str_to_float(string):
    if string[-1] == 'M':
        return float(string[:-1]) * 1000000
    else:
        return float(string)


  if data == android:
    rev_dict = {}
    for row in android:
        app_id = row[0]
        n_rev = convert_str_to_float(row[3])
    
        if app_id in rev_dict and rev_dict[app_id] < n_rev:
            rev_dict[app_id] = n_rev
        elif app_id not in rev_dict:
            rev_dict[app_id] = n_rev

    return rev_dict

  elif data == ios:
    rev_dict = {}
    for row in ios:
      app_id = row[1]
      n_rev = convert_str_to_float(row[5])
    
      if app_id in rev_dict and rev_dict[app_id] < n_rev:
        rev_dict[app_id] = n_rev
      elif app_id not in rev_dict:
        rev_dict[app_id] = n_rev

    return rev_dict

Variabies with reviews for android and ios

In [172]:
import pandas as pd

android_rev_dict = reviews(android)
ios_rev_dict  = reviews(ios)

android_rev_dict_pandas = pd.DataFrame(list(android_rev_dict.items()), columns=['App', 'n_rev'])
ios_rev_dict_pandas = pd.DataFrame(list(ios_rev_dict.items()), columns=['App', 'n_rev'])

In [173]:
print(android_rev_dict_pandas)

                                                    App     n_rev
0        Photo Editor & Candy Camera & Grid & ScrapBook     159.0
1                                   Coloring book moana     974.0
2     U Launcher Lite – FREE Live Cool Themes, Hide ...   87510.0
3                                 Sketch - Draw & Paint  215644.0
4                 Pixel Draw - Number Art Coloring Book     967.0
...                                                 ...       ...
9654                                   Sya9a Maroc - FR      38.0
9655                   Fr. Mike Schmitz Audio Teachings       4.0
9656                             Parkinson Exercices FR       3.0
9657                      The SCP Foundation DB fr nn5n     114.0
9658      iHoroscope - 2018 Daily Horoscope & Astrology  398307.0

[9659 rows x 2 columns]

In [174]:
print(ios_rev_dict_pandas)

                                               App      n_rev
0                                         Facebook  2974676.0
1                                        Instagram  2161558.0
2                                   Clash of Clans  2130805.0
3                                       Temple Run  1724546.0
4                          Pandora - Music & Radio  1126879.0
...                                            ...        ...
7190  Shark Boom - Challenge Friends with your Pet        0.0
7191                           【謎解き】ヤミすぎ彼女からのメッセージ        0.0
7192                                    Go!Go!Cat!        0.0
7193   Suppin Detective: Expose their true visage!        0.0
7194           みんなのお弁当 by クックパッド ~お弁当をレシピ付きで記録・共有~        0.0

[7195 rows x 2 columns]

Creating a function that makes a data of uniqe apps

In [175]:
def make_unique(data):
  def convert_str_to_float(string):
    if string[-1] == 'M':
        return float(string[:-1]) * 1000000
    else:
        return float(string)

  if data == android:
    android_unique = []
    android_already_added = []

    for row in android:
      app_id = row[0]
      n_rev = convert_str_to_float(row[3])

      if (android_rev_dict[app_id] == n_rev) and (app_id not in android_already_added):
        android_unique.append(row)
        android_already_added.append(app_id)
    return android_unique

  elif data == ios:
    ios_unique = []
    ios_already_added = []

    for row in ios:
      app_id = row[1]
      n_rev = convert_str_to_float(row[5])

      if (ios_rev_dict[app_id] == n_rev) and (app_id not in ios_already_added):
        ios_unique.append(row)
        ios_already_added.append(app_id)
    return ios_unique

In [176]:
android_unique= make_unique(android)
ios_unique =make_unique(ios)

In [177]:
explore_data_pandas(android_unique,0,3)

Number of rows: 9659
Number of columns: 13

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
2,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up

In [178]:
explore_data_pandas(ios_unique,0,3)

Number of rows: 7195
Number of columns: 16

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1

Function that checks whether the word has no more than 3 non-English letters or signs (therfore if the App is for English users)

In [179]:
def is_english(name):
  non_ascii = 0
  for i in name:
    if ord(i) > 127:
      non_ascii += 1

  if non_ascii > 3:
    return False
  else:
    return True

Function that creates data with apps for english users only

In [180]:
def only_english(data):
  if data == android_unique:
    android_english = []

    for row in android_unique:
      app_name = row[0]
      if is_english(app_name):
        android_english.append(row)
    return android_english

  elif data == ios_unique:
    ios_english = []

    for row in ios_unique:
      app_name = row[1]
      if is_english(app_name):
        ios_english.append(row)
    return ios_english

In [181]:
android_english = only_english(android_unique)
ios_english = only_english(ios_unique)

In [182]:
explore_data_pandas(ios_english, 0, 3)
print(ios_header)

Number of rows: 6181
Number of columns: 16

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']

Function that creates data with free-apps only

In [183]:
def free_apps(data):
  if data == android_english:
    android_free = []

    for row in data:
      app_price = row[7]
      if app_price == '0':
        android_free.append(row)
    return android_free

  elif data == ios_english:
    ios_free = []

    for row in data:
      app_price = row[4]

      if app_price == '0.0':
        ios_free.append(row)
    return ios_free

In [184]:
android_free = free_apps(android_english)
ios_free = free_apps(ios_english)

In [185]:
explore_data_pandas(ios_free, 0, 3)

Number of rows: 3220
Number of columns: 16

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1

Our goal is to determine the kinds of apps that are likely to attract more users because the number of people using our apps affect our revenue.

To minimize risks and overhead, our validation strategy for an app idea has three steps:

Build a minimal Android version of the app, and add it to Google Play.
If the app has a good response from users, we develop it further.
If the app is profitable after six months, we build an iOS version of the app and add it to the App Store.
Because our end goal is to add the app on both Google Play and the App Store, we need to find app profiles that are successful in both markets. For instance, a profile that works well for both markets might be a productivity app that makes use of gamification.

Function that creates freq tables for any column we want

In [186]:
def freq_table(data, index):
  table = {}
  total = 0

  for row in data:
    column = row[index]
    total += 1
    if column in table:
      table[column] += 1
    else:
      table[column] = 1

  table_perc = {}

  for i in table:
    perc = (table[i]/total) * 100
    table_perc[i] = perc

  return table_perc

Function that sorts freq table

In [187]:
def display_table(data, index):
  table = freq_table(data, index)
  table_display = []

  for i in table:
    as_tuple = (table[i], i)
    table_display.append(as_tuple)

  table_sorted = sorted(table_display, reverse=True)
  for entry in table_sorted:
    print(entry[1], ':', entry [0])

In [188]:
print(ios_header)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']

In [189]:
Android_Genres = display_table(android_free, 9)

Tools : 8.449909747292418
Entertainment : 6.069494584837545
Education : 5.347472924187725
Business : 4.591606498194946
Productivity : 3.892148014440433
Lifestyle : 3.892148014440433
Finance : 3.7003610108303246
Medical : 3.531137184115524
Sports : 3.463447653429603
Personalization : 3.3167870036101084
Communication : 3.2378158844765346
Action : 3.1024368231046933
Health & Fitness : 3.0798736462093865
Photography : 2.944494584837545
News & Magazines : 2.7978339350180503
Social : 2.6624548736462095
Travel & Local : 2.3240072202166067
Shopping : 2.2450361010830324
Books & Reference : 2.1435018050541514
Simulation : 2.0419675090252705
Dating : 1.861462093862816
Arcade : 1.8501805054151623
Video Players & Editors : 1.7712093862815883
Casual : 1.7599277978339352
Maps & Navigation : 1.3989169675090252
Food & Drink : 1.2409747292418771
Puzzle : 1.128158844765343
Racing : 0.9927797833935018
Role Playing : 0.9363718411552346
Libraries & Demo : 0.9363718411552346
Auto & Vehicles : 0.9250902527075812
Strategy : 0.9138086642599278
House & Home : 0.8235559566787004
Weather : 0.8009927797833934
Events : 0.7107400722021661
Adventure : 0.6768953068592057
Comics : 0.6092057761732852
Beauty : 0.5979241877256317
Art & Design : 0.5979241877256317
Parenting : 0.4963898916967509
Card : 0.45126353790613716
Casino : 0.42870036101083037
Trivia : 0.41741877256317694
Educational;Education : 0.39485559566787
Board : 0.3835740072202166
Educational : 0.3722924187725632
Education;Education : 0.33844765342960287
Word : 0.2594765342960289
Casual;Pretend Play : 0.236913357400722
Music : 0.2030685920577617
Racing;Action & Adventure : 0.16922382671480143
Puzzle;Brain Games : 0.16922382671480143
Entertainment;Music & Video : 0.16922382671480143
Casual;Brain Games : 0.13537906137184114
Casual;Action & Adventure : 0.13537906137184114
Arcade;Action & Adventure : 0.12409747292418773
Action;Action & Adventure : 0.10153429602888085
Educational;Pretend Play : 0.09025270758122744
Simulation;Action & Adventure : 0.078971119133574
Parenting;Education : 0.078971119133574
Entertainment;Brain Games : 0.078971119133574
Board;Brain Games : 0.078971119133574
Parenting;Music & Video : 0.06768953068592057
Educational;Brain Games : 0.06768953068592057
Casual;Creativity : 0.06768953068592057
Art & Design;Creativity : 0.06768953068592057
Education;Pretend Play : 0.056407942238267145
Role Playing;Pretend Play : 0.04512635379061372
Education;Creativity : 0.04512635379061372
Role Playing;Action & Adventure : 0.033844765342960284
Puzzle;Action & Adventure : 0.033844765342960284
Entertainment;Creativity : 0.033844765342960284
Entertainment;Action & Adventure : 0.033844765342960284
Educational;Creativity : 0.033844765342960284
Educational;Action & Adventure : 0.033844765342960284
Education;Music & Video : 0.033844765342960284
Education;Brain Games : 0.033844765342960284
Education;Action & Adventure : 0.033844765342960284
Adventure;Action & Adventure : 0.033844765342960284
Video Players & Editors;Music & Video : 0.02256317689530686
Sports;Action & Adventure : 0.02256317689530686
Simulation;Pretend Play : 0.02256317689530686
Puzzle;Creativity : 0.02256317689530686
Music;Music & Video : 0.02256317689530686
Entertainment;Pretend Play : 0.02256317689530686
Casual;Education : 0.02256317689530686
Board;Action & Adventure : 0.02256317689530686
Video Players & Editors;Creativity : 0.01128158844765343
Trivia;Education : 0.01128158844765343
Travel & Local;Action & Adventure : 0.01128158844765343
Tools;Education : 0.01128158844765343
Strategy;Education : 0.01128158844765343
Strategy;Creativity : 0.01128158844765343
Strategy;Action & Adventure : 0.01128158844765343
Simulation;Education : 0.01128158844765343
Role Playing;Brain Games : 0.01128158844765343
Racing;Pretend Play : 0.01128158844765343
Puzzle;Education : 0.01128158844765343
Parenting;Brain Games : 0.01128158844765343
Music & Audio;Music & Video : 0.01128158844765343
Lifestyle;Pretend Play : 0.01128158844765343
Lifestyle;Education : 0.01128158844765343
Health & Fitness;Education : 0.01128158844765343
Health & Fitness;Action & Adventure : 0.01128158844765343
Entertainment;Education : 0.01128158844765343
Communication;Creativity : 0.01128158844765343
Comics;Creativity : 0.01128158844765343
Casual;Music & Video : 0.01128158844765343
Card;Action & Adventure : 0.01128158844765343
Books & Reference;Education : 0.01128158844765343
Art & Design;Pretend Play : 0.01128158844765343
Art & Design;Action & Adventure : 0.01128158844765343
Arcade;Pretend Play : 0.01128158844765343
Adventure;Education : 0.01128158844765343

In [190]:
Ios_Genres = display_table(ios_free, -5)

Games : 58.13664596273293
Entertainment : 7.888198757763975
Photo & Video : 4.968944099378882
Education : 3.6645962732919255
Social Networking : 3.291925465838509
Shopping : 2.608695652173913
Utilities : 2.515527950310559
Sports : 2.142857142857143
Music : 2.049689440993789
Health & Fitness : 2.018633540372671
Productivity : 1.7391304347826086
Lifestyle : 1.5838509316770186
News : 1.3354037267080745
Travel : 1.2422360248447204
Finance : 1.1180124223602486
Weather : 0.8695652173913043
Food & Drink : 0.8074534161490683
Reference : 0.5590062111801243
Business : 0.5279503105590062
Book : 0.43478260869565216
Navigation : 0.18633540372670807
Medical : 0.18633540372670807
Catalogs : 0.12422360248447205

Function that calculates and displays the average number of user ratings for each iOS app genre in the ios_free dataset.

In [191]:
Ios_Freq_Genre = freq_table(ios_free, -5)
for row in Ios_Freq_Genre:
  total = 0
  len_genre = 0

  for app in ios_free:
    genre_app = app[-5]
    if genre_app == row:
      n_ratings = float(app[5])
      total += n_ratings
      len_genre += 1
  avg_n_ratings = total/ len_genre
  print(row, ':', avg_n_ratings)

Social Networking : 71548.34905660378
Photo & Video : 28441.54375
Games : 22812.92467948718
Music : 57326.530303030304
Reference : 74942.11111111111
Health & Fitness : 23298.015384615384
Weather : 52279.892857142855
Utilities : 18684.456790123455
Travel : 28243.8
Shopping : 26919.690476190477
News : 21248.023255813954
Navigation : 86090.33333333333
Lifestyle : 16485.764705882353
Entertainment : 14029.830708661417
Food & Drink : 33333.92307692308
Sports : 23008.898550724636
Book : 39758.5
Finance : 31467.944444444445
Education : 7003.983050847458
Productivity : 21028.410714285714
Business : 7491.117647058823
Catalogs : 4004.0
Medical : 612.0

In [192]:
for app in ios_free:
  if app[-5] == 'Navigation':
    print(app[1], ':', app[5])

Waze - GPS Navigation, Maps & Real-time Traffic : 345046
Google Maps - Navigation & Transit : 154911
Geocaching® : 12811
CoPilot GPS – Car Navigation & Offline Maps : 3582
ImmobilienScout24: Real Estate Search in Germany : 187
Railway Route Search : 5

In [193]:
for app in ios_free:
    if app[-5] == 'Reference':
        print(app[1], ':', app[5])

Bible : 985920
Dictionary.com Dictionary & Thesaurus : 200047
Dictionary.com Dictionary & Thesaurus for iPad : 54175
Google Translate : 26786
Muslim Pro: Ramadan 2017 Prayer Times, Azan, Quran : 18418
New Furniture Mods - Pocket Wiki & Game Tools for Minecraft PC Edition : 17588
Merriam-Webster Dictionary : 16849
Night Sky : 12122
City Maps for Minecraft PE - The Best Maps for Minecraft Pocket Edition (MCPE) : 8535
LUCKY BLOCK MOD ™ for Minecraft PC Edition - The Best Pocket Wiki & Mods Installer Tools : 4693
GUNS MODS for Minecraft PC Edition - Mods Tools : 1497
Guides for Pokémon GO - Pokemon GO News and Cheats : 826
WWDC : 762
Horror Maps for Minecraft PE - Download The Scariest Maps for Minecraft Pocket Edition (MCPE) Free : 718
VPN Express : 14
Real Bike Traffic Rider Virtual Reality Glasses : 8
教えて!goo : 0
Jishokun-Japanese English Dictionary & Translator : 0

Function that counts averge number of installation in category

In [194]:
freq_android = freq_table(android_free,1)
for row in freq_android:
  total = 0
  len_category = 0

  for app in android_free:
    category_app = app[1]
    if category_app == row:
      n_installs = app[5]
      n_installs = n_installs.replace('+','')
      n_installs = n_installs.replace(',','')
      total += float(n_installs)
      len_category += 1
  avg_n_installs = total / len_category
  print(row, ':', avg_n_installs)

ART_AND_DESIGN : 1986335.0877192982
AUTO_AND_VEHICLES : 647317.8170731707
BEAUTY : 513151.88679245283
BOOKS_AND_REFERENCE : 8767811.894736841
BUSINESS : 1712290.1474201474
COMICS : 817657.2727272727
COMMUNICATION : 38456119.167247385
DATING : 854028.8303030303
EDUCATION : 1833495.145631068
ENTERTAINMENT : 11640705.88235294
EVENTS : 253542.22222222222
FINANCE : 1387692.475609756
FOOD_AND_DRINK : 1924897.7363636363
HEALTH_AND_FITNESS : 4188821.9853479853
HOUSE_AND_HOME : 1331540.5616438356
LIBRARIES_AND_DEMO : 638503.734939759
LIFESTYLE : 1437816.2687861272
GAME : 15588015.603248259
FAMILY : 3695641.8198090694
MEDICAL : 120550.61980830671
SOCIAL : 23253652.127118643
SHOPPING : 7036877.311557789
PHOTOGRAPHY : 17840110.40229885
SPORTS : 3638640.1428571427
TRAVEL_AND_LOCAL : 13984077.710144928
TOOLS : 10801391.298666667
PERSONALIZATION : 5201482.6122448975
PRODUCTIVITY : 16787331.344927534
PARENTING : 542603.6206896552
WEATHER : 5074486.197183099
VIDEO_PLAYERS : 24727872.452830188
NEWS_AND_MAGAZINES : 9549178.467741935
MAPS_AND_NAVIGATION : 4056941.7741935486

In [195]:
for app in android_free:
    if app[1] == 'COMMUNICATION' and (app[5] == '1,000,000,000+'
                                      or app[5] == '500,000,000+'
                                      or app[5] == '100,000,000+'):
        print(app[0], ':', app[5])

WhatsApp Messenger : 1,000,000,000+
imo beta free calls and text : 100,000,000+
Android Messages : 100,000,000+
Google Duo - High Quality Video Calls : 500,000,000+
Messenger – Text and Video Chat for Free : 1,000,000,000+
imo free video calls and chat : 500,000,000+
Skype - free IM & video calls : 1,000,000,000+
Who : 100,000,000+
GO SMS Pro - Messenger, Free Themes, Emoji : 100,000,000+
LINE: Free Calls & Messages : 500,000,000+
Google Chrome: Fast & Secure : 1,000,000,000+
Firefox Browser fast & private : 100,000,000+
UC Browser - Fast Download Private & Secure : 500,000,000+
Gmail : 1,000,000,000+
Hangouts : 1,000,000,000+
Messenger Lite: Free Calls & Messages : 100,000,000+
Kik : 100,000,000+
KakaoTalk: Free Calls & Text : 100,000,000+
Opera Mini - fast web browser : 100,000,000+
Opera Browser: Fast and Secure : 100,000,000+
Telegram : 100,000,000+
Truecaller: Caller ID, SMS spam blocking & Dialer : 100,000,000+
UC Browser Mini -Tiny Fast Private & Secure : 100,000,000+
Viber Messenger : 500,000,000+
WeChat : 100,000,000+
Yahoo Mail – Stay Organized : 100,000,000+
BBM - Free Calls & Messages : 100,000,000+